<div class="row justify-content-center">
  <div class="col-9">
    <div class="card">
      <div class="card-body">
        <h2>Health Insurance Claim Form</h2>
        <h4>for {{currentUser.firstName}} {{currentUser.lastName}}</h4>
        <form [formGroup]="claimForm" (ngSubmit)="submitClaim()">
          <div class="row justify-content-evenly">
            <div class="col">
              <h5>Today's Date</h5>
              <input type="date" class="form-control form-control-lg " id="dateOfClaim"
                value="{{currentDate | date: 'yyyy-MM-dd'}}" readonly/>
            </div>
            <div class="col">
              <h5>Date of Service</h5>
              <input type="date" class="form-control form-control-lg" max="{{currentDate | date: 'yyyy-MM-dd'}}" id="dateOfService"
                formControlName="dateOfService"/>
              <div *ngIf="claimForm.controls['dateOfService'].invalid && claimForm.controls['dateOfService'].touched">
                A date of service is required.
              </div>
            </div>
          </div>
          <div class="row justify-content-evenly">            
            <div class="col-8">
              <h5>Diagnosis or Nature of Illness or Injury</h5>
              <textarea class="form-control form-control-lg" placeholder="Description..." rows=4 id="description"
                formControlName="description" required></textarea>
              <div *ngIf="claimForm.controls['description'].invalid && claimForm.controls['description'].touched">
                A description is required.
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col d-grid">
                  <h5>Amount</h5>
                  <input type="number" class="form-control form-control-lg" step=0.01 min=.01 id="amount" name="amount"
                    placeholder="0.00" formControlName="amount" required>
                  <div *ngIf="claimForm.controls['amount'].invalid && claimForm.controls['amount'].touched">
                    An amount is required.
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="button" type="submit"
                    [disabled]="!claimForm.valid">Submit Claim</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>