<form [formGroup]="loginform" (ngSubmit)="login()">

    <h5>Sign into your account</h5>


    <input type="email" class="form-control form-control-lg" placeholder="Email@Address.com" formControlName="email"
        required />
    <label class="form-label" for="form2Example17">Email address</label>
    <div *ngIf="loginform.controls['email'].invalid && loginform.controls['email'].touched">
        <span *ngIf="loginform.controls['email'].errors">
            Email is required.
        </span>
    </div>

    <input type="password" class="form-control form-control-lg" placeholder="Password" formControlName="password"
        required />
    <label class="form-label" for="form2Example27">Password</label>
    <div *ngIf="loginform.controls['password'].invalid && loginform.controls['password'].touched"
        class="alert alert-danger">
        <span *ngIf="loginform.controls['password'].errors">
            Password is required.
        </span>
        
    </div>
    <a routerLink="/reset-password" > Forgot Password? </a>
    <button type="submit">Login</button>
    <p class="mb-5 pb-lg-2">Don't have an account? <a routerLink="/register">Register
        here</a></p>

</form>