<div class="row justify-content-center">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h2>Create A New Post</h2>
                <form [formGroup]="postForm" (ngSubmit)='createPost()'>
                    <div class="row justify-content-center">
                        <div class="col-4 d-grid">
                            <h5>Post Title</h5>
                            <input type="text" class="form-control form-control-lg" id="dateOfService"
                                formControlName="postTitle" placeholder="Title" formControlName="postTitle" required>
                            <div
                                *ngIf="postForm.controls['postTitle'].invalid && postForm.controls['postTitle'].touched">
                                Post Title is required.
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Post</button>
                        </div>
                        <div class="col-8">
                            <h5>Post Body</h5>
                            <textarea class="form-control form-control-lg"
                                placeholder="Description... (Max of 255 Characters)" maxlength="255" rows=4
                                id="postBody" formControlName="postBody" required></textarea>
                            <div *ngIf="postForm.controls['postBody'].invalid && postForm.controls['postBody'].touched">
                                Post Body is required.
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container">
                    <ng-container *ngFor="let post of postList">
                        <hr>
                        <div class="row justify-content-center" (click)="selectPost(post)">
                            <div class="col-8">
                                <h2>{{post.title}}</h2>
                                <h4
                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                                    {{post.content}}
                                </h4>
                                <h6>{{post.dateSubmitted | date}}</h6>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" (click)="selectPost(post)">View Replies</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>