<form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">

    <h5>Reset your Password</h5>


    <input type="email" class="form-control form-control-lg" placeholder="Email@Address.com" formControlName="email"
        required />
    <label class="form-label" for="form2Example17">Email address</label>
    <div *ngIf="resetPassForm.controls['email'].invalid && resetPassForm.controls['email'].touched">
        <span *ngIf="resetPassForm.controls['email'].errors">
            Email is required.
        </span>
    </div>

    <input type="password" class="form-control form-control-lg" placeholder="Password" formControlName="password"
        required />
    <label class="form-label" for="form2Example27">Password</label>
    <div *ngIf="resetPassForm.controls['password'].invalid && resetPassForm.controls['password'].touched"
        class="alert alert-danger">
        <span *ngIf="resetPassForm.controls['password'].errors">
            Password is required.
        </span>
    </div>
    <button type="submit">Submit</button>
    <p class="mb-5 pb-lg-2">Don't have an account? <a routerLink="/register">Register
        here</a></p>
    </form>