<div class="row justify-content-center">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Welcome to Revinsure</h2>
                <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
                    <h4>Reset your Password</h4>
                    <div class="row justify-content-evenly">
                        <div class="col">
                            <h5>Email Address</h5>
                            <input type="email" class="form-control form-control-lg" placeholder="Email@Address.com"
                                formControlName="email" required />
                            <div
                                *ngIf="resetPassForm.controls['email'].invalid && resetPassForm.controls['email'].touched">
                                Your email is required.
                            </div>
                        </div>
                        <div class="col">
                            <h5>Password</h5>
                            <input type="password" class="form-control form-control-lg" placeholder="Password"
                                formControlName="password" required />
                            <div
                                *ngIf="resetPassForm.controls['password'].invalid && resetPassForm.controls['password'].touched">
                                A password is required.
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3 d-grid">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="!resetPassForm.valid">Submit</button>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-8 d-grid">
                            <p>
                                <a routerLink="/login">Login</a>
                                or don't have an account? <a routerLink="/register">
                                    Register Here</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>